@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Open+Sans&family=Roboto:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin:0;
}
/*-------------------------------nav bar taken from w3schools bootstrap and adapted-----------*/
.navbar{
    width: 100vw;
}
.bg-custom{
background-image: linear-gradient(90deg, rgba(10, 197, 35, 0.726) 15%, rgba(255, 255, 255, 0.3) 50%, rgba(247, 12, 12, 0.6) 85%);
}
.nav-logo{
    color: #000000;
    font-style: italic;
}
.navbar {
    min-height: 8vh;
}

.navbar-brand span {
    font-size: 1rem;
    margin-left: 10px;
}
/*-------------------------------columns for images and text---------*/

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media screen and (min-width: 300px) {
  .column {
    width: 100%;
  }
}

/*----------welcome heading--------------------*/
.welcome-heading{
    color: green;
    font-family: "Dancing Script", cursive;
}
.welcome-sub-heading1{
    color: #fff;
    font-family: "Dancing Script", cursive;
    text-shadow: 2px 2px #000;
}
.welcome-sub-heading2{
    color: red;
    font-family: "Dancing Script", cursive;
}
/*-----------------image----------------------------*/
img{
    border-radius: 15px;
    height: 400px;
}

/*----------section heading--------------------*/
.section-header{
    text-align: center;
    font-family: "Dancing Script", cursive;
}

/*--------------Footer Section------------------*/
.footer{
    background-color: red;
}


/*-----------------------------Modal Sign Up Form-------------------------------*/

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/*---------------------------------------------------------------------*/

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px; 
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}